.wrapper
    .block
        .block_element
            .logo_element
                img.logo_img(src="/images/secondary-logo.png", alt="logo")
                p Кредит онлайн
            p Быстрые деньги за 5 минут
            p.limits до 30 000 руб
        .block_section
            .advantages
                p Моментальное решение, 100% онлайн
                p Документы не требуются
                p.bot Пролонгация займа
            a.secondary_btn Получить деньги
    hr
    .block
        .block_element
            .logo_element
                img.logo_img(src="/images/secondary-logo.png", alt="logo")
                p Кредит онлайн
            p Одобрение 10 минут
            p.limits до 3 000 000 руб
        .block_section
            .advantages
                p От 6%
                p Одобрение за 10 минут
                p Без комиссий
                p.bot Возможно рефинансирование
            a.secondary_btn Получить деньги
    hr
    .block
        .block_element
            .logo_element
                img.logo_img(src="/images/secondary-logo.png", alt="logo")
                p Кредит онлайн
            p Под залог ПТС
            p.limits до 3 000 000 руб
        .block_section
            .advantages
                p От 2% в месяц
                p Машина остается у вас
                p До 70% стоимости
                p.bot Деньги уже сегодня!
            a.secondary_btn Получить деньги
    hr