include pug/libs/_libs
html(lang='en')
    include pug/_head
    body
        .container-width
            .header 
                .logo 
                    img(src="/images/logo.svg", alt="LOGO" width="50px" height="50px")
                .header_text
                    h1 Кредит онлайн
                    p Одна заявка во все банки вашего региона
            .order 
                .order_text 
                    h2 Получите деньги наличными или на карту
                    .middle_text 
                        .middle_text_element
                            p Автоматическое одобрение кредитной заявки
                            p до 1 000 000 ₽
                        .middle_text_element
                            p C процентной ставкой от
                            p 5.9 %
                        .middle_text_element
                            p Максимальный срок до
                            p 60 мес.
                    a.btn(href='#form_sec') Заполнить заявку
                .order_img
                    picture
                        source(type='image/webp' srcset='/images/girl.webp')
                        source(type='image/jpeg' srcset='/images/girl.png')
                        img(src='/images/girl.png' alt='')

        .line 
            .container-width
                .line_block
                    p Наличные или деньги на карту в любой момент
                    img(src="/images/money.svg", alt="money" width="50px" height="50px")
                .line_block
                    p Без подтверждения дохода, справок и поручителей
                    img(src="/images/paper.svg", alt="paper" width="50px" height="50px")
                .line_block
                    p Быстрое решение по кредиту до 5 минут
                    img.clock(src="/images/clock.svg", alt="clock" width="50px" height="50px")
        .container-width
            .rules 
                .header_text
                    h3 Правила и терминология
                .main_text 
                    a(href="ending.html") test
                    p Услуги на проекте Моменткредит (momentkredit.ru) оказывает ИП Середов Денис Петрович ОГРН 310740127300028, ИНН 740101593601, юридический и физический адрес: Краснодарский Край, г. Сочи, ул Голенева 36. Проект осуществляет только подбор кредитов и микрокредитов между лицом желающим взять кредит, и кредитными учреждениями, которые имеют право осуществлять профессиональную деятельность по предоставлению потребительских кредитов. Проект не является финансовым учреждением, банком или кредитором, и не несёт ответственности за любые заключенные договоры кредитования или условия. Сервис «Моменткредит» использует куки для предоставления услуг. Условия хранения или доступа к куки Вы можете настроить в своём браузере. Сервис предназначен для лиц старше 18 лет. Расчет в калькуляторах на сайте основан на среднем показателе процентной ставки кредитов. Не является публичной офертой. Расчет может отличаться от реальной процентной ставки, которая будет предложена вам финансовыми организациями. Если вы несогласны с данной политикой, прекратите пользование сайтом momentkredit.ru.
                    p Услуга по подбору кредита бесплатна для клиента! Мы не берем денег со своих клиентов. Денежные средства за подбор кредита просят только мошенники. Будьте внимательны!
                    p ИП Середов Денис Петрович ЯВЛЯЕТСЯ ОПЕРАТОРОМ ПЕРСОНАЛЬНЫХ ДАННЫХ (Приказ № 154 от 01.06.2020)
                    p Потребительский кредит (заем) - денежные средства, предоставленные кредитором заемщику на основании кредитного договора, договора займа, в том числе с использованием электронных средств платежа, в целях, не связанных с осуществлением предпринимательской деятельности. Регулируется Федеральным законом № 353-ФЗ от 21.12.2013 «О потребительском кредите (займе)».
                    p Основные условия: Срок кредита от 61 дня до 5 лет, процентная ставка от 5,9 % годовых до 24.9 % годовых, возраст заемщика с 18 до 68 лет, дополнительных комиссий и сборов нет.
                    p Пример расчета кредита: вы берёте 300 000 рублей на 36 месяцев с процентной ставкой 12,9% в год. Переплата за весь срок составит 63 375 рублей. Итого вы возвращаете 363 375 рублей. Кредитор обязан предоставить заемщику полную информацию об условиях предоставления, использования и возврата потребительского кредита (займа)!
                    p Некоторые из наших банков-партнеров:
                    ul 
                        li ПАО «Сбербанк России», генеральная лицензия № 1481
                        li ПАО КБ «Восточный экспресс банк», генеральная лицензия № 1460
                        li ПАО «Банк Уралсиб», генеральная лицензия № 30
                        li ПАО «Московский Кредитный банк», генеральная лицензия 1978
                        li АО КБ «Ситибанк», генеральная лицензия № 2257
                        li ПАО Банк «Финансовая Корпорация Открытие», генеральная лицензия № 2209
                        li Банк ВТБ (ПАО), генеральная лицензия № 1000
                    p Последствия не выплаты заемных денег<br> В случае невозвращения в условленный срок суммы кредита или суммы процентов за пользование заёмными средствами кредитор вынуждено начислит штраф за просрочку платежа. Большинство кредиторов идут на уступки и дают три дополнительных рабочих дня для оплаты. Они предусмотрены на случай, к примеру, если банковский перевод занял больше времени, чем обычно. Однако, в случае неполучения от Вас какой-либо реакции в течение продолжительного времени, будет начислен штраф за просрочку срока погашения размером в среднем 0,10% от первоначальной суммы для займов, 0,03% от суммы задолженности в среднем для потребительских кредитов и кредитных карт. При несоблюдении Вами условий по погашению кредитов и займов, данные о Вас могут быть переданы в реестр должников, а задолженность - коллекторскому агентству для взыскания долга.
                    p О всех приближающихся сроках платежа кредитор своевременно информирует Вас по СМС или электронной почте. Рекомендуем Вам вносить платеж в день получения данных напоминаний. Погашая задолженность в срок, Вы формируете хорошую кредитную историю, что повышает Ваши шансы в дальнейшем получить кредит на более выгодных условиях.
                    p Сайт НЕ является представительством кредитной организации. Мы не выдаем кредитов и займов, а только информируем о возможных вариантах.
        .footer 
            .container-width
                .footer_item 
                    p Политика обработки персональных данных
                    p.bot Согласие на обработку персональных данных
                .footer_item
                    p creditonline2022@yandex.ru
                    p Cвидетельство о регистрации ИП
        .popup_bg#popup1
            .popup
                .close_popup
                    img(src="/images/close.svg", alt="X")
                .wrap_content_popup
                    .popup_header
                        p Условия направления физическими лицами заявлений в электронном виде в информационно-телекоммуникационной сети «Интернет» на сайте АО «АЛЬФА-БАНК» или посредством услуги «Альфа-Мобайл» в целях получения услуг АО «АЛЬФА-БАНК»
                    .popup_text
                        p Гражданин Российской Федерации (далее — «Заявитель»), направляющий в АО Альфа⁠-⁠Банк (Генеральная лицензия Банка России № 1326, адрес места нахождения: 107 078, г. Москва, ул. Каланчевская, д. 27, Телефонный центр «Альфа-Консультант»: +7 495 788 88 78 для звонков из Москвы и Московской области, 8 800 200 00 00 для звонков с мобильных телефонов и стационарных телефонов, зарегистрированных в регионах) (далее — «Банк») заявление в электронном виде на сайте Банка или посредством услуги «Альфа-Мобайл» (далее — «Заявление») в целях получения услуги Банка, тем самым понимает, принимает и подтверждает следующее:
        .popup_bg_secondary#popup2
            .popup_secondary
                .close_popup
                    img(src="/images/close.svg", alt="X")
                .wrap_content_popup
                    .popup_header
                        p Условия  физическими лицами заявлений в электронном виде в информационно-телекоммуникационной сети «Интернет» на сайте АО «АЛЬФА-БАНК» или посредством услуги «Альфа-Мобайл» в целях получения услуг АО «АЛЬФА-БАНК»
                    .popup_text
                        p Гражданин Российской Федерации (далее — «Заявитель»), направляющий в АО Альфа⁠-⁠Банк (Генеральная лицензия Банка России № 1326, адрес места нахождения: 107 078, г. Москва, ул. Каланчевская, д. 27, Телефонный центр «Альфа-Консультант»: +7 495 788 88 78 для звонков из Москвы и Московской области, 8 800 200 00 00 для звонков с мобильных телефонов и стационарных телефонов, зарегистрированных в регионах) (далее — «Банк») заявление в электронном виде на сайте Банка или посредством услуги «Альфа-Мобайл» (далее — «Заявление») в целях получения услуги Банка, тем самым понимает, принимает и подтверждает следующее:

        #wrap_loader
            .loader_ring
                div
                div
                div
                div


